/* FileName:    style.css 
   Author:      Ven Grollmus
   Created:     March 2022
   Description: CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
02. Navigation
03. Header
04. Footer
05. Copyright
06. Media Queries
******************************************/

/******************************/
/*     01. General Styles     */
/******************************/
/******************************/
/*         01.01.   Initial    /
/******************************/

html,
body {
    padding: 5px 30px;
    margin:0px;
    background: #f7fafd;
    font-size: 18px;
}

p {
    text-align:justify;
}
/******************************/
/*         01.02.   Fonts      /
/******************************/
h2, h2, h3, h4 {
    font-family: 'Shadows Into Light', cursive;
}

body {
    font-family: 'Antic Slab', serif;
}

/******************************/
/*     02. Navigation         */
/******************************/


/******************************/
/*     03. Header             */
/******************************/


/******************************/
/*     04. Footer             */
/******************************/


/******************************/
/*     05. Copyright          */
/******************************/


/******************************/
/*     06. Media Queries      */
/******************************/
